langchain
langchain_core
langgraph
langchain_community
langchain_google_genai
google-generativeai
beautifulsoup4
faiss-cpu
watchdog
pymupdf
pandas
sentence-transformers
rank_bm25
fastapi
uvicorn
python-multipart
openai-whisper
pytesseract
pdfplumber
Pillow
pandas
playwright
bs4
urllib3
requests
easyocr 
whisper
langchain-huggingface>=0.0.6
aiofiles
python-multipart
assemblyai
numpy
torch
torchvision
python-magic
aiohttp
typing-extensions
